.ui__button {
  margin: 10px 5px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--activeTextColor);
  color: var(--notActiveTextColor);
  border: 2px solid var(--activeTextColor);
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}



.ui__button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.ui__button span:after {
  content: '\00bb';
  font-size: 1.8rem;
  position: absolute;
  opacity: 0;
  top: -10px;
  right: -20px;
  transition: 0.5s;
}

.ui__button:hover span {
  padding-right: 25px;
}

.ui__button:hover span:after {
  opacity: 1;
  right: 0;
}